{% extends 'dummy.html' %}



{% block content %}

<div class="container mt-3">
    <h1 class="text-warning mb-4 border-bottom">CONTACT US</h1>
    <div class="row text-white">
        <p class="mx-auto mb-3">
            <b class="text-warning">Do you have any questions?  Please do not hesitate to contact. I will come back to you with in  a matter of hours to help you.</b>
        </p>
        <div class="col-sm-9 mt-3 mb-3">
            <form action="">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="name">Your Name</label>
                        <input type="text" name="" id="name" class="form-control" placeholder="First Name" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="name">Your Name</label>
                        <input type="text" name="" id="name" class="form-control" placeholder="Middle Name" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="name">Your Name</label>
                        <input type="text" name="" id="name" class="form-control" placeholder="Last Name" required>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="email">Your Age</label>
                        <input type="number" name="" id="name" class="form-control" required>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="subject">Gender</label>
                        <input type="text" name="" id="name" class="form-control" required>
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="email">Your Email</label>
                        <input type="email" name="" id="name" class="form-control" required>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="subject">Date Of Birth</label>
                        <input type="date" name="" id="name" class="form-control" required>
                    </div>

                    <div class="form-group col-md-12">
                        <label for="message">Your Message</label>
                        <textarea name="" id="textarea" cols="400" rows="7" class="form-control"></textarea>
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn btn-outline-warning" type="submit">Send</button>
                </div>
            </form>
        </div>
        <div class="col-sm-3 text-center">
            <ul class="list-unstyled">
                <li>
                    <a href="https://maps.app.goo.gl/xAS2FaccjSgKpCMZ9"><i style="color: SpringGreen;" class="fas fa-map-marker-alt fa-beat-fade m-4 fa-2x i-color" ></i></a>
                </li>
                <li>
                    <a href="mailto: kumar.tusharpanda@gmail.com"><i style="color: SpringGreen;" class="fa-regular fa-envelope fa-beat-fade m-4 fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/tushar-kumar-panda-6a9214222/" target="_blank"><i style="color: SpringGreen;" class="fa-brands fa-linkedin fa-beat-fade m-4 fa-2x"></i></a>
                </li>

                <li>
                    <a href="https://github.com/Tushar-Kumar-9090" target="_blank"><i style="color: SpringGreen;" class="fa-brands fa-github fa-beat-fade m-4 fa-2x"></i></a>
                </li>

                <li>
                    <a href="https://www.facebook.com/tushar.panda.1998?mibextid=ZbWKwL" target="_blank"><i style="color: SpringGreen;" class="fab fa-facebook fa-beat-fade m-4 fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/tusharbiraaj/" target="_blank"><i style="color: SpringGreen;" class="fab fa-instagram fa-beat-fade m-4 fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://www.youtube.com" target="_blank"><i style="color: SpringGreen;" class="fa-brands fa-youtube fa-beat-fade mt-4 fa-2x"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}