{% extends 'dummy.html' %}

{% block content %}
<style>
    .ss-color {
        color: whitesmoke;
    }

    h3{
        color: cyan;
    }
</style>



<div class="container mt-4">
    <h1 class="text-warning mb-4 border-bottom">SERVICES</h1>

    <!-- 1st row -->
    <div class="row text-center text-white mb-4">
        <div class="col-sm-4">
            <i style="color: SpringGreen;" class="fa-brands fa-aws fa-beat-fade fa-2x mb-3"></i>
            <h3>aws</h3>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, illo? Totam tenetur ad sint laboriosam!</p>
        </div>

        <div class="col-sm-4">
            <i style="color: SpringGreen;" class="fa-brands fa-php fa-beat-fade fa-2x mb-3"></i>
            <h3>php</h3>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, illo? Totam tenetur ad sint laboriosam!</p>
        </div>

        <div class="col-sm-4">
            <i style="color: SpringGreen;" class="fa-brands fa-html5 fa-beat-fade fa-2x mb-3"></i>
            <h3>HTML</h3>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, illo? Totam tenetur ad sint laboriosam!</p>
        </div>
    </div>

    <!-- 1st row -->
    <div class="row text-center text-white mb-4">
        <div class="col-sm-4">
            <i  style="color: Chartreuse;" class="fa-brands fa-java fa-beat-fade fa-2x mb-3"></i>
            <h3>Java</h3>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, illo? Totam tenetur ad sint laboriosam!</p>
        </div>

        <div class="col-sm-4">
            <i style="color: Chartreuse;" class="fa-brands fa-python fa-beat-fade fa-2x mb-3"></i>
            <h3>Python</h3>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, illo? Totam tenetur ad sint laboriosam!</p>
        </div>

        <div class="col-sm-4">
            <i style="color: Chartreuse;" class="fa-brands fa-css3-alt fa-beat-fade fa-2x mb-3"></i>
            <h3>CSS</h3>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, illo? Totam tenetur ad sint laboriosam!</p>
        </div>
    </div>

    <!-- 2nd row -->
    <div class="row text-center text-white mb-4">
        <div class="col-sm-4">
            <i style="color: SpringGreen;" class="fa-brands fa-apple fa-beat-fade fa-2x mb-3"></i>
            <h3>Apple</h3>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, illo? Totam tenetur ad sint laboriosam!</p>
        </div>

        <div class="col-sm-4">
            <i style="color: SpringGreen;" class="fa-brands fa-windows fa-beat-fade fa-2x mb-3"></i>
            <h3>Windows</h3>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, illo? Totam tenetur ad sint laboriosam!</p>
        </div>

        <div class="col-sm-4">
            <i style="color: SpringGreen;" class="fa-brands fa-android fa-beat-fade fa-2x mb-3"></i>
            <h3>Android</h3>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error, illo? Totam tenetur ad sint laboriosam!</p>
        </div>
    </div>
</div>

{% endblock content %}